* {

margin: 0;
padding: 0;

}
















































































































































































































.container {

    width: 500px;
    height: 600px;
    border: 3px solid black;
    margin: 30px auto;
    position: relative;
}

.fig1, .fig2, .fig3 {


    width: 500px;
    height: 200px;


}

.fig1 {

    background-color: rgb(50, 4, 255);
    position: absolute;
    
    top: 300px;
    left: 30px;

}


.fig2 {

    background-color: rgb(229, 255, 0);
   

}

.fig3{
 position: fixed;
    background-color: red;
   
}