body {background-color: rgb(207, 217, 228);}
h1, body {text-align: center;}

table, th, td{ 
    
width: 20cm;
height: 1cm;
border: 1px solid white;
border-collapse: collapse;
text-align: center;
}