body{

    background-color: #111111;
    

}

.contenedor {

    background-color: rgb(255, 44, 150);
    border: 3px solid white;
    margin: auto;
    padding: 3px;
}

.contenedor > div {

    background-color: aquamarine;
    border: 2px solid blue;
    padding: 5px;
    

}